* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/*color*/

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #f9f9f9;
  color: #111113;
}

html body .container {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

body.open-menu,
body.body__home {
  overflow: hidden;
}

body p {
  font-size: 1.1em;
  margin: 0 0 20px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

body h1,
body h2 {
  font-size: 2em;
}

body h1,
body h2,
body h3 {
  margin: 0;
}

body strong,
body b {
  font-weight: 700;
}

body .row:before,
body .row:after {
  display: inline-block !important;
}

body .row__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .row__flex .col-xs-12,
body .row__flex .col-xs-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body a {
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

.link__red {
  text-decoration: none;
  color: #e73f4b;
}

.link__red:hover,
.link__red:focus,
.link__red:active {
  color: #e73f4b;
  text-decoration: underline;
}

.btn__red {
  color: #ffffff;
  background: #e73f4b;
  display: block;
  padding: 19px;
  font-weight: bold;
  border: 0;
  text-transform: uppercase;
  font-size: 1.125em;
  width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn__red:hover,
.btn__red:focus,
.btn__red:active {
  color: #ffffff;
  background: #cb323d;
}

.btn__anim {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.btn__anim:before,
.btn__anim:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-19%, -190%) rotate(-30deg);
  -ms-transform: translate(-19%, -190%) rotate(-30deg);
  transform: translate(-19%, -190%) rotate(-30deg);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn__anim:after {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.btn__anim:hover:before,
.btn__anim:hover:after {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.bg__white {
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  background: #ffffff;
  border-radius: 5px;
  padding: 30px 20px;
  margin-bottom: 25px;
}

.pages__subtitle {
  color: #111113;
  font-weight: bold;
  font-size: 1.6em;
  margin: 0 0 25px;
}

body input[type="text"],
body input[type="email"],
body input[type="phone"],
body input[type="tel"],
body textarea {
  display: block;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background: #f9f9f9;
  width: 100%;
  font-size: 1em;
  color: #111113;
  padding: 19px;
  outline: none;
  margin-bottom: 15px;
  font-size: 1.125em;
}

body input[type="text"]::-webkit-input-placeholder,
body input[type="email"]::-webkit-input-placeholder,
body input[type="phone"]::-webkit-input-placeholder,
body input[type="tel"]::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: #111113;
}

body textarea {
  resize: none;
  height: 150px;
}

body input[type="submit"] {
  border-radius: 5px;
  outline: none;
}

/*header*/

body header {
  padding: 20px 0;
  top: 0;
  left: 0;
  width: 100%;
  background: #111113;
  z-index: 99;
  border-bottom: 1px solid #2e2e33;
}

body header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

body header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
}

body header .header__logo img {
  width: 100%;
}

body header .header__logo__wrap {
  position: relative;
  z-index: 10;
}

body header .wrap__burger {
  width: 90px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

body header .wrap__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

body header .wrap__menu .menu__item__current .menu__link:before {
  width: 100%;
}

body header .wrap__menu .menu__link {
  display: block;
  padding: 10px 0;
  font-size: 1.375em;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  position: relative;
}

body header .wrap__menu .menu__link:hover,
body header .wrap__menu .menu__link:focus {
  background: transparent;
  color: #ffffff;
}

body header .wrap__menu .menu__link:hover:before,
body header .wrap__menu .menu__link:focus:before {
  width: 100%;
}

body header .wrap__menu .menu__link:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  background: #e73f4b;
  height: 4px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 0;
  bottom: -5px;
}

body header.active .wrap__menu {
  left: 0;
}

.language {
  width: 70px;
  position: relative;
  z-index: 10;
}

.language.language__home {
  position: absolute;
  z-index: 999;
  top: 45px;
  right: 35px;
}

.language .nice-select {
  background: #242429;
  height: 100%;
  border-radius: 3px;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  font-size: 1.125em;
  font-weight: bold;
  padding: 12px 20px 12px 12px;
  width: 100%;
  line-height: 1;
}

.language .nice-select:hover {
  background: dimgray;
}

.language .nice-select .list {
  width: 100%;
  background: #242429;
}

.language .nice-select .list li {
  background: #242429;
}

.language .nice-select .list li.selected {
  background: dimgray;
}

.language .nice-select .list li:hover {
  background: dimgray;
}

.language .nice-select:after {
  margin: 0;
  right: 8px;
  width: 18px;
  height: 18px;
  background: url(../img/icons/iconfinder_down_308965.svg) no-repeat center;
  background-size: 13px;
  border: 0;
  top: 50%;
  -webkit-transform-origin: inherit;
  -ms-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.language .nice-select.open {
  background: dimgray;
}

.language .nice-select.open:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.wrap__burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
  height: 30px;
  width: 40px;
  overflow: hidden;
  cursor: pointer;
}

.wrap__burger:hover .burger .burger__inner,
.wrap__burger:hover .burger .burger__inner:before,
.wrap__burger:hover .burger .burger__inner:after,
.wrap__burger:focus .burger .burger__inner,
.wrap__burger:focus .burger .burger__inner:before,
.wrap__burger:focus .burger .burger__inner:after {
  background: #ffffff;
}

.burger {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  padding: 0 5px;
}

.burger .burger__inner,
.burger .burger__inner:after {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burger .burger__inner:before {
  width: 22px;
  position: absolute;
  height: 3px;
  border-radius: 100px;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burger__inner {
  -webkit-transition: background-color 0s linear .13s;
  -o-transition: background-color 0s linear .13s;
  transition: background-color 0s linear .13s;
}

.burger__inner:before {
  display: block;
  content: "";
  top: 9px;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger__inner:after {
  display: block;
  content: "";
  top: 18px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger:hover .burger__inner {
  width: 20px;
}

.burger:hover .burger__inner:after {
  width: 26px;
}

.burger:hover .burger__inner:before {
  width: 30px;
}

header.active .wrap__burger:before,
.home.active .wrap__burger:before {
  opacity: 0;
}

header.active .burger:hover .burger__inner,
header.active .burger:hover .burger__inner:before,
header.active .burger:hover .burger__inner:after,
.home.active .burger:hover .burger__inner,
.home.active .burger:hover .burger__inner:before,
.home.active .burger:hover .burger__inner:after {
  width: 30px;
}

header.active .burger__inner,
.home.active .burger__inner {
  -webkit-transition-delay: .22s;
  -o-transition-delay: .22s;
  transition-delay: .22s;
  background-color: transparent !important;
  width: 30px;
}

header.active .burger__inner:before,
.home.active .burger__inner:before {
  width: 30px;
  height: 4px;
  top: 0;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -o-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

header.active .burger__inner:after,
.home.active .burger__inner:after {
  top: 0;
  height: 4px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*home page*/

.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home:after {
  width: 100%;
  content: "";
  display: block;
  bottom: 0;
  z-index: 99;
  left: 0;
  height: 9px;
  position: absolute;
  background: #e73f4b;
}

.home:before {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  top: 0;
  z-index: 3;
  left: 0;
  position: absolute;
  background: rgba(17, 17, 19, 0.75);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.home__logo {
  width: 75px;
  display: inline-block;
}

.home__info {
  width: 100%;
  height: 50vh;
  background: #111113;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  min-height: 360px;
}

.home__info:after {
  width: 100%;
  content: "";
  display: none;
  bottom: -6px;
  z-index: 99;
  left: 0;
  height: 6px;
  position: absolute;
  background: #e73f4b;
}

.home__info__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #2e2e33;
  width: 60px;
  height: 50vh;
  z-index: 9;
  min-height: 360px;
  background: #111113;
}

.home__info__inner {
  padding: 30px 20px;
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.home__info__header {
  z-index: 9;
  width: 130px;
}

.home__info__body {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  padding-right: 15px;
}

.home__title {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 0.833;
  color: #ffffff;
  margin: 0 0 30px;
}

.home__btn {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  padding: 16px 20px;
  text-transform: uppercase;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Archivo Black";
}

.home__btn:hover,
.home__btn:focus {
  color: #ffffff;
}

.home.active:before {
  opacity: 1;
}

.home.active .home__info {
  z-index: 99;
}

.home.active .home__menu__wrap {
  left: 0;
}

.home__carousel {
  width: 100%;
  height: 50vh;
  position: relative;
}

.home__carousel__item {
  height: 50vh;
  display: block;
}

.home__menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home__menu__wrap {
  width: 100vw;
  position: fixed;
  top: 0;
  left: -100vw;
  background: #111113;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 50vh;
  min-height: 360px;
  z-index: 9;
}

.home__menu__item {
  display: block;
  width: 100%;
}

.home__menu__link {
  font-size: 1.35em;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 0;
  display: block;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home__menu__link:hover,
.home__menu__link:focus {
  color: #e73f4b;
}

.home__contacts {
  position: absolute;
  bottom: 95px;
  padding-right: 15px;
}

.home__contacts__item {
  width: 100%;
  font-size: 1.1em;
  color: #cdcdcd;
  line-height: 18px;
  margin-bottom: 7px;
}

.home__contacts__item:last-child {
  margin: 0;
}

.home__contacts__item__wrap-icon {
  width: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.home__contacts__item__wrap-icon svg {
  fill: #ffffff;
  width: 20px;
}

.home__contacts__item a {
  padding-left: 5px;
  color: inherit;
}

.home__contacts__item a:hover,
.home__contacts__item a:focus {
  color: #ffffff;
}

.home .owl-dots,
.home .owl-nav,
.home__contacts,
.home__menu {
  left: 80px;
}

.home .owl-prev,
.home .owl-next {
  font-size: 1.05em;
  font-weight: bold;
  color: #ffffff;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.home .owl-prev {
  left: 0;
}

.home .owl-next {
  right: 0;
}

.home .owl-nav {
  position: relative;
  height: 28px;
  position: absolute;
  width: 200px;
  z-index: 9;
  top: -60px;
}

.home .owl-dots {
  width: 120px;
  height: 25px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  margin-left: 55px;
  top: -61px;
}

.home .owl-dots .owl-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
}

.home .owl-dots .owl-dot.active {
  border: 2px solid #ffffff;
  background: transparent;
  width: 35px;
  border-radius: 100px;
}

.owl-item {
  display: inline-block !important;
}

/*pages*/

/*banner*/

.banner {
  position: relative;
  background-color: #111113;
  border-bottom: 6px solid #e73f4b;
}

.banner__title {
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 35px;
}

.banner__text {
  padding: 40px 0 45px;
}

.banner__text__inner p {
  color: #ffffff;
  text-align: justify;
}

.banner__single__inner {
  min-height: 450px;
  padding: 20px 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner__single__title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.banner__price {
  background: #e73f4b;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.banner__price__inner {
  padding: 11px 14px;
  color: #ffffff;
}

.banner__price__inner:first-child {
  border-right: 1px solid #bc2c37;
}

.banner__price__inner__subtitle {
  font-size: 0.85em;
  display: block;
  white-space: nowrap;
}

.banner__price__inner__num {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
}

/*paged__inner*/

.services {
  padding: 35px 0 30px;
}

.services__item {
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.services__item__image {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.services__item__inner {
  width: 100%;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__item__title {
  font-size: 1.6em;
  position: relative;
  font-weight: bold;
  color: #111113;
  padding-bottom: 18px;
  margin: 0;
}

.services__item__title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e73f4b;
  height: 4px;
  width: 65px;
  content: "";
}

.services__item__content {
  margin: 25px 0;
}

.services__item__btn {
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f9f9f9;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__item__btn:hover {
  background: #eeeeee;
}

.services__item__btn__in {
  width: 100%;
  padding: 10px 17px;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #111113;
  position: relative;
  z-index: 5;
}

.services__item__btn__in img {
  width: 15px;
  margin-left: 10px;
}

.services__item__price {
  background: #e73f4b;
  border-radius: 5px;
  position: relative;
  z-index: 9;
  padding: 6px 8px;
  color: #ffffff;
}

.services__item__price__subtitle {
  font-size: 0.9em;
  display: block;
  white-space: nowrap;
}

.services__item__num {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
}

/*footer*/

footer {
  background: #ffffff;
  padding: 25px 0;
}

.footer__logo {
  width: 80px;
  margin: 0 auto 20px;
  display: block;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.footer__menu.nav {
  margin-bottom: 8px;
}

.footer__menu__item {
  margin-right: 12px;
}

.footer__menu__item:last-child {
  margin: 0;
}

.footer__menu__link {
  text-transform: uppercase;
  color: #111113;
  font-weight: bold;
  font-size: 1em;
}

.footer__menu__link:hover,
.footer__menu__link:focus {
  color: #e73f4b;
}

.footer__copy {
  font-size: 1em;
  color: dimgray;
}

.footer__contacts__item {
  width: 100%;
  font-size: 1.1em;
  color: #61707c;
  line-height: 18px;
  margin-bottom: 5px;
}

.footer__contacts__item:last-child {
  margin: 0;
}

.footer__contacts__item__wrap-icon {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
}

.footer__contacts__item__wrap-icon svg {
  fill: #b9c2ca;
  width: 20px;
}

.footer__contacts__item a {
  padding-left: 5px;
  color: inherit;
}

.footer__contacts__item a:hover,
.footer__contacts__item a:focus {
  color: #e73f4b;
}

/*single*/

.single {
  padding-bottom: 35px;
}

.single .container {
  margin-top: -100px;
}

.single__info__inner {
  padding: 10px 0 30px;
}

.single__info__subtitle {
  font-size: 1.125em;
  font-weight: bold;
  margin: 0 0 22px;
}

.single__info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}

.single__info ul li {
  font-size: 1.125em;
  padding: 14px 20px;
}

.single__info ul li:nth-child(2n) {
  background: #f9f9f9;
}

.single__info p {
  font-size: 1.125em;
}

/*gallery*/

.gallery__inner {
  overflow: hidden;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 20%;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.gallery__item {
  overflow: hidden;
  display: block;
  position: relative;
}

.gallery__item img {
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery__item__info {
  position: absolute;
  background: rgba(231, 63, 75, 0.8);
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: -100%;
  font-size: 1.375em;
  font-weight: bold;
  padding: 20px 50px;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.gallery__item:hover .gallery__item__info {
  opacity: 1;
  top: 0;
}

/*contact__form */

.contact__form__inner {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.form__checbox {
  margin: 9px 0 25px;
  cursor: pointer;
}

.form__checbox input {
  display: none;
}

.form__checbox input[type="checkbox"]:checked + .form__checbox__inner:before {
  background-image: url(../img/icons/iconfinder_check_1608619.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.form__checbox__inner {
  position: relative;
  padding-left: 30px;
  display: block;
  font-size: 0.9em;
}

.form__checbox__inner:before {
  display: block;
  position: absolute;
  border-radius: 3px;
  background-color: #f9f9f9;
  border: 1px solid lightgray;
  width: 15px;
  height: 15px;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.form__checbox__inner .link__red {
  text-decoration: underline;
}

/*contact*/

#map {
  height: 430px;
}

.contact__page {
  padding-bottom: 35px;
}

.contact__page .container {
  margin-top: -160px;
}

.contact__row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__information {
  width: 100%;
}

.contact__information__title.pages__subtitle {
  max-width: 200px;
  position: relative;
  margin-bottom: 75px;
}

.contact__information__title.pages__subtitle:before {
  display: block;
  content: "";
  position: absolute;
  background: #e73f4b;
  border-radius: 100px;
  height: 6px;
  width: 60px;
  left: 0;
  bottom: -32px;
}

.contact__information__list .footer__contacts__item {
  margin-bottom: 12px;
}

.contact__team {
  width: 100%;
}

.contact__team.bg__white {
  padding: 0;
}

.contact__team__title.pages__subtitle {
  border-bottom: 1px solid #eaeaea;
  padding: 30px 20px;
  margin: 0;
}

.contact__team__inner {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__team__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact__team__item:last-child {
  margin-bottom: 0;
}

.contact__team__item__title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 0 5px;
  color: #e73f4b;
}

.contact__team__item__contacts {
  margin: 0;
}

.contact__team__item__contacts a {
  display: block;
  color: #111113;
}

.contact__team__item__contacts a:hover,
.contact__team__item__contacts a:focus {
  color: #e73f4b;
}

.contact__team__image {
  border-radius: 5px;
  width: 240px;
  height: 300px;
  margin: 0 auto 15px;
}

.contact__team__info {
  width: 100%;
  padding: 5px;
  max-width: 240px;
  margin: 0 auto;
}

/*about*/

.banner__about.banner {
  padding: 35px 0 180px;
}

.about__gallery__item {
  display: block;
  width: 260px;
  height: 280px;
  border-radius: 5px;
}

.about__gallery__wrap {
  padding-bottom: 70px;
  position: relative;
}

.about__gallery .owl-nav {
  position: absolute;
  bottom: 24px;
  width: 150px;
  height: 25px;
  left: 0;
}

.about__gallery .owl-prev,
.about__gallery .owl-next {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  background: url(../img/icons/iconfinder_arrow-right_227601.svg) no-repeat center;
  background-size: 18px;
  font-size: 0;
  width: 25px;
  height: 25px;
  top: 0;
}

.about__gallery .owl-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.about__gallery .owl-next {
  right: 0;
}

.about__page {
  margin-top: -140px;
  overflow: hidden;
}

.about__info {
  margin: 0 0 35px;
}

.about__counter {
  position: absolute;
  left: 0;
  width: 150px;
  bottom: 24px;
  font-size: 1.125em;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (min-width: 400px) {
  .footer__logo {
    width: 70px;
    margin: 0 20px 0 0;
  }

  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: auto;
  }

  .contact__team__image {
    width: 140px;
    height: 175px;
    margin: 0;
  }

  .contact__team__info {
    width: calc(100% - 145px);
    padding: 10px 10px 5px 15px;
    margin: 0;
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  html body .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .language.language__home {
    right: 50px;
  }

  .home__title {
    font-size: 2em;
    margin: 0 0 35px;
  }

  .home .owl-prev,
  .home .owl-next {
    font-size: 1.1em;
  }

  .home .owl-nav {
    width: 240px;
  }

  .home .owl-dots {
    margin-left: 75px;
    top: -58px;
  }

  .banner__price__inner__subtitle {
    font-size: 1em;
  }

  .banner__price__inner__num {
    font-size: 1.7em;
  }

  .services__item__image {
    height: 280px;
  }

  .services__item__inner {
    padding: 30px 24px 24px;
  }

  .services__item__btn__in {
    width: calc(100% - 90px);
  }

  .services__item__btn__in img {
    width: 16px;
    margin-left: 14px;
  }

  .services__item__price {
    padding: 10px 12px;
    width: 90px;
  }

  .services__item__num {
    font-size: 1.8em;
  }

  footer {
    padding: 25px 15px;
  }

  .footer__logo {
    width: 80px;
  }

  .footer__menu.nav {
    margin-bottom: 15px;
  }

  .footer__menu__item {
    margin-right: 16px;
  }

  .footer__menu__link {
    font-size: 1.05em;
  }

  .footer__copy {
    font-size: 1.05em;
  }

  .gallery__inner {
    grid-gap: 12px;
    grid-auto-rows: 22%;
    margin-bottom: -4%;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .gallery__item:first-child {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .banner__about.banner {
    padding: 50px 0 210px;
  }

  .about__gallery__item {
    width: 310px;
    height: 340px;
  }

  .about__page {
    margin-top: -170px;
  }
}

@media only screen and (min-width: 768px) {
  html body .container {
    width: 770px;
  }

  body h1,
  body h2 {
    font-size: 2.4em;
  }

  body header {
    padding: 30px 0;
  }

  body header .header__logo {
    width: 90px;
  }

  .language {
    width: 90px;
  }

  .language .nice-select {
    padding: 15px 25px 15px 15px;
  }

  .language .nice-select:after {
    background-size: 14px;
    right: 18px;
  }

  .services {
    padding: 40px 0 55px;
  }

  .services__item {
    margin: 0 0 25px;
  }

  .services__item__title:after {
    height: 5px;
    width: 75px;
  }

  .services__item__content {
    margin: 30px 0;
  }

  footer {
    padding: 35px 0;
  }

  .footer__logo {
    width: 120px;
    margin: 0 45px 0 0;
  }

  .footer__menu.nav {
    margin-bottom: 20px;
  }

  .footer__menu__item {
    margin-right: 22px;
  }

  .footer__menu__link {
    font-size: 1.125em;
  }

  .footer__copy {
    font-size: 1.125em;
  }

  .gallery__inner {
    margin-bottom: -8%;
  }

  .contact__team__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .contact__team__item {
    width: 47%;
    margin-bottom: 0;
  }

  .contact__team__image {
    width: 145px;
    height: 180px;
  }

  .contact__team__info {
    width: calc(100% - 145px);
    padding: 12px 12px 12px 20px;
  }

  .about__info {
    margin: 0 0 45px;
  }
}

@media only screen and (min-width: 991px) {
  .banner {
    border-bottom: 7px solid #e73f4b;
  }
}

@media only screen and (min-width: 992px) {
  html body .container {
    width: 990px;
  }

  body h1,
  body h2 {
    font-size: 2.9em;
  }

  .btn__red {
    padding: 20px;
    font-size: 1.25em;
  }

  .bg__white {
    padding: 30px 25px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="phone"],
  body input[type="tel"],
  body textarea {
    padding: 19px;
    font-size: 1.25em;
  }

  body header .header__logo {
    width: 116px;
  }

  body header .wrap__burger {
    display: none;
  }

  body header .wrap__menu .menu {
    padding-left: 60px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 25px;
  }

  body header .wrap__menu .menu__link {
    font-size: 1.25em;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -66px;
  }

  .home__logo {
    width: 120px;
  }

  .home__info {
    width: 450px;
    height: 100vh;
  }

  .home__info__burger {
    width: 82px;
    height: 100vh;
  }

  .home__info__inner {
    padding: 60px 38px 60px 65px;
    width: calc(100% - 82px);
  }

  .home__info__body {
    left: 65px;
  }

  .home__title {
    width: 140%;
    font-size: 2.6em;
    margin: 0 0 45px;
  }

  .home__btn {
    font-size: 1em;
    padding: 18px 30px;
  }

  .home__carousel {
    width: calc(100% - 450px);
    height: 100vh;
    position: static;
  }

  .home__carousel__item {
    height: 100vh;
  }

  .home__menu__wrap {
    height: 100vh;
    left: -50vw;
    width: 50vw;
  }

  .home__menu__link {
    padding: 17px 0;
    font-size: 2.25em;
  }

  .home__contacts__item {
    margin-bottom: 12px;
    font-size: 1.3125em;
    line-height: 28px;
  }

  .home .owl-dots,
  .home .owl-nav,
  .home__contacts,
  .home__menu {
    left: 150px;
  }

  .home .owl-prev,
  .home .owl-next {
    font-size: 1.125em;
  }

  .home .owl-nav {
    top: auto;
    bottom: 85px;
  }

  .home .owl-dots {
    top: auto;
    bottom: 85px;
  }

  .banner__title {
    margin: 0 0 42px;
  }

  .banner__text {
    padding: 50px 0 55px;
  }

  .banner__text__inner {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 65px;
    column-gap: 65px;
  }

  .banner__single__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .banner__single__title {
    font-size: 2.4em;
    text-align: left;
  }

  .banner__price__inner {
    padding: 14px 25px;
  }

  .banner__price__inner__subtitle {
    font-size: 1.1em;
  }

  .banner__price__inner__num {
    font-size: 2em;
  }

  .services__item {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .services__item__image {
    width: 40%;
    height: auto;
    border-radius: 0;
  }

  .services__item__inner {
    width: 60%;
    padding: 34px 38px 26px 30px;
  }

  .services__item__title {
    padding-bottom: 20px;
    font-size: 1.75em;
  }

  .services__item__btn__in {
    width: calc(100% - 110px);
    font-size: 1.25em;
  }

  .services__item__price {
    padding: 10px 12px;
    width: 110px;
  }

  .services__item__price__subtitle {
    font-size: 1em;
  }

  .gallery__inner {
    grid-gap: 10px;
    margin-bottom: 0;
    grid-auto-rows: 130px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .gallery__item__info {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
  }

  .contact__form__inner {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  .form__checbox input[type="checkbox"]:checked + .form__checbox__inner:before {
    background-size: 13px;
  }

  .form__checbox__inner {
    font-size: 1em;
    padding-left: 36px;
  }

  .form__checbox__inner:before {
    width: 20px;
    height: 20px;
  }

  .contact__team__title.pages__subtitle {
    padding: 30px 25px;
  }

  .contact__team__inner {
    padding: 30px 25px;
  }

  .contact__team__image {
    width: 145px;
    height: 180px;
  }

  .contact__team__info {
    width: calc(100% - 145px);
    padding: 12px 12px 12px 20px;
  }

  .banner__about.banner {
    padding: 70px 0 250px;
  }

  .about__gallery__item {
    width: 400px;
    height: 430px;
  }

  .about__gallery__wrap {
    padding-bottom: 80px;
  }

  .about__gallery .owl-nav {
    bottom: 27px;
  }

  .about__page {
    margin-top: -215px;
  }

  .about__counter {
    bottom: 27px;
  }
}

@media only screen and (min-width: 1200px) {
  html body .container {
    width: 1160px;
  }
}

@media only screen and (min-width: 1440px) {
  html body .container {
    width: 1265px;
  }

  body p {
    font-size: 1.25em;
  }

  .bg__white {
    padding: 40px 33px;
    margin-bottom: 35px;
  }

  .pages__subtitle {
    margin: 0 0 35px;
  }

  body header {
    padding: 34px 0;
  }

  body header .wrap__menu .menu {
    padding-left: 70px;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -70px;
  }

  .language {
    width: 100px;
  }

  .language.language__home {
    top: 95px;
    right: 90px;
  }

  .language .nice-select {
    padding: 17px 33px 17px 18px;
    font-size: 1.25em;
  }

  .language .nice-select:after {
    background-size: 16px;
    right: 22px;
  }

  .home .owl-prev,
  .home .owl-next {
    font-size: 1.2em;
  }

  .home .owl-nav {
    bottom: 85px;
  }

  .banner__single__title {
    font-size: 2.7em;
  }

  .banner__price__inner {
    padding: 16px 28px;
  }

  .services {
    padding: 60px 0 68px;
  }

  .services__item {
    margin: 0 0 30px;
    min-height: 320px;
  }

  .services__item__inner {
    padding: 34px 38px 26px 30px;
  }

  .footer__contacts__item {
    font-size: 1.25em;
    line-height: 25px;
  }

  .single {
    padding-bottom: 50px;
  }

  .single__info__inner {
    padding: 20px 0 40px;
  }

  .single__info ul li {
    padding: 17px 30px;
  }

  .single__info p {
    font-size: 1.25em;
  }

  .gallery__inner {
    grid-gap: 16px;
    grid-auto-rows: 165px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .gallery__item__info {
    padding: 15px 30px;
    font-size: 1.2em;
  }

  .form__checbox {
    margin: 17px 0 35px;
  }

  .form__checbox__inner {
    font-size: 1.125em;
  }

  #map {
    height: 470px;
  }

  #map {
    height: 620px;
  }

  .contact__page {
    padding-bottom: 50px;
  }

  .contact__information__title.pages__subtitle {
    margin-bottom: 57px;
  }

  .contact__information__list .footer__contacts__item {
    margin-bottom: 18px;
  }

  .contact__team__title.pages__subtitle {
    padding: 40px 30px;
  }

  .contact__team__inner {
    padding: 40px 30px;
  }

  .banner__about.banner {
    padding: 90px 0 325px;
  }

  .about__gallery__item {
    width: 495px;
    height: 536px;
  }

  .about__gallery__wrap {
    padding-bottom: 90px;
  }

  .about__gallery .owl-nav {
    bottom: 35px;
  }

  .about__page {
    margin-top: -270px;
  }

  .about__info {
    margin: 0 0 60px;
  }

  .about__counter {
    bottom: 35px;
  }
}

@media only screen and (min-width: 1680px) {
  html body .container {
    width: 1450px;
  }

  body p {
    font-size: 1.375em;
  }

  body h1,
  body h2 {
    font-size: 3.375em;
  }

  .btn__red {
    padding: 25px 20px;
    font-size: 1.375em;
  }

  .bg__white {
    padding: 45px 38px;
    margin-bottom: 43px;
  }

  .pages__subtitle {
    font-size: 1.6875em;
    margin: 0 0 40px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="phone"],
  body input[type="tel"],
  body textarea {
    padding: 22px;
    font-size: 1.375em;
    margin-bottom: 18px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 32px;
  }

  body header .wrap__menu .menu__link {
    font-size: 1.375em;
  }

  .language {
    width: 105px;
  }

  .language.language__home {
    top: 100px;
    right: 100px;
  }

  .language .nice-select {
    padding: 20px 38px 20px 21px;
    font-size: 1.375em;
  }

  .language .nice-select:after {
    background-size: 17px;
    right: 24px;
  }

  .home__info {
    width: 520px;
  }

  .home__info__burger {
    width: 96px;
  }

  .home__info__inner {
    padding: 70px 44px 70px 78px;
    width: calc(100% - 96px);
  }

  .home__info__body {
    left: 78px;
  }

  .home__title {
    font-size: 3.375em;
  }

  .home__btn {
    font-size: 1.125em;
    padding: 20px 35px;
  }

  .home__carousel {
    width: calc(100% - 520px);
  }

  .home__menu__link {
    padding: 20px 0;
  }

  .home .owl-dots,
  .home .owl-nav,
  .home__contacts,
  .home__menu {
    left: 174px;
  }

  .home .owl-nav {
    width: 260px;
    bottom: 88px;
  }

  .home .owl-dots {
    margin-left: 85px;
  }

  .banner {
    border-bottom: 8px solid #e73f4b;
  }

  .banner__title {
    margin: 0 0 47px;
  }

  .banner__text {
    padding: 55px 0 65px;
  }

  .banner__text__inner {
    -webkit-column-gap: 75px;
    column-gap: 75px;
  }

  .banner__price__inner {
    padding: 18px 32px;
  }

  .banner__price__inner__subtitle {
    font-size: 1.125em;
  }

  .banner__price__inner__num {
    font-size: 2.25em;
  }

  .services {
    padding: 70px 0 75px;
  }

  .services__item {
    margin: 0 0 35px;
    min-height: 340px;
  }

  .services__item__inner {
    padding: 40px 42px 30px 35px;
  }

  .services__item__title {
    padding-bottom: 25px;
    font-size: 1.875em;
  }

  .services__item__btn__in {
    width: calc(100% - 128px);
  }

  .services__item__price {
    padding: 15px;
    width: 128px;
  }

  .services__item__price__subtitle {
    font-size: 1.125em;
  }

  .services__item__num {
    font-size: 2.25em;
  }

  footer {
    padding: 45px 0;
  }

  .footer__contacts__item {
    margin-bottom: 7px;
    font-size: 1.3125em;
    line-height: 28px;
  }

  .single {
    padding-bottom: 70px;
  }

  .single__info__inner {
    padding: 25px 0 50px;
  }

  .gallery__inner {
    grid-gap: 18px;
    grid-auto-rows: 185px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .gallery__item__info {
    padding: 15px 35px;
    font-size: 1.25em;
  }

  .contact__form__inner {
    grid-column-gap: 18px;
  }

  .contact__page {
    padding-bottom: 70px;
  }

  .contact__information__title.pages__subtitle {
    margin-bottom: 65px;
    font-size: 1.8em;
  }

  .contact__team__title.pages__subtitle {
    padding: 45px 38px;
    font-size: 1.8em;
  }

  .contact__team__inner {
    padding: 45px 38px;
  }

  .contact__team__item__title {
    font-size: 1.6em;
  }

  .contact__team__image {
    width: 165px;
    height: 200px;
  }

  .contact__team__info {
    width: calc(100% - 165px);
    padding: 14px 14px 14px 30px;
  }

  .banner__about.banner {
    padding: 100px 0 370px;
  }

  .about__gallery__item {
    width: 560px;
    height: 610px;
  }

  .about__gallery__wrap {
    padding-bottom: 110px;
  }

  .about__gallery .owl-nav {
    bottom: 47px;
  }

  .about__page {
    margin-top: -305px;
  }

  .about__info {
    margin: 0 0 80px;
  }

  .about__counter {
    bottom: 47px;
  }
}

@media only screen and (min-width: 1681px) {
  html body .container {
    width: 1660px;
  }

  .btn__red {
    padding: 28px 20px;
  }

  .bg__white {
    padding: 52px 45px;
    margin-bottom: 50px;
  }

  body input[type="text"],
  body input[type="email"],
  body input[type="phone"],
  body input[type="tel"],
  body textarea {
    padding: 25px;
  }

  body header {
    padding: 40px 0;
  }

  body header .wrap__menu .menu {
    padding-left: 85px;
  }

  body header .wrap__menu .menu__link:before {
    bottom: -76px;
  }

  .language {
    width: 120px;
  }

  .language .nice-select {
    padding: 24px 45px 24px 24px;
  }

  .home__info {
    width: 595px;
  }

  .home__info__burger {
    width: 110px;
  }

  .home__info__inner {
    padding: 80px 50px 80px 90px;
    width: calc(100% - 110px);
  }

  .home__info__body {
    left: 90px;
  }

  .home__btn {
    padding: 22px 40px;
  }

  .home__carousel {
    width: calc(100% - 595px);
  }

  .home__menu__link {
    padding: 23px 0;
  }

  .home .owl-dots,
  .home .owl-nav,
  .home__contacts,
  .home__menu {
    left: 200px;
  }

  .home .owl-prev,
  .home .owl-next {
    font-size: 1.25em;
  }

  .home .owl-nav {
    width: 280px;
  }

  .home .owl-dots {
    margin-left: 100px;
  }

  .banner {
    border-bottom: 9px solid #e73f4b;
  }

  .banner__title {
    margin: 0 0 55px;
  }

  .banner__text {
    padding: 65px 0 75px;
  }

  .banner__text__inner {
    -webkit-column-gap: 90px;
    column-gap: 90px;
  }

  .banner__single__title {
    font-size: 2.8125em;
  }

  .services {
    padding: 80px 0 90px;
  }

  .services__item {
    min-height: 375px;
  }

  .services__item__inner {
    padding: 45px 50px 35px 40px;
  }

  .gallery__inner {
    grid-gap: 22px;
    grid-auto-rows: 220px;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  }

  .gallery__item__info {
    padding: 20px 50px;
    font-size: 1.375em;
  }

  .contact__information__title.pages__subtitle {
    margin-bottom: 75px;
    font-size: 1.875em;
  }

  .contact__team__title.pages__subtitle {
    font-size: 1.875em;
    padding: 52px 45px;
  }

  .contact__team__inner {
    padding: 52px 45px;
  }

  .contact__team__item__title {
    font-size: 1.6875em;
  }

  .contact__team__image {
    width: 175px;
    height: 215px;
  }

  .contact__team__info {
    width: calc(100% - 175px);
    padding: 16px 15px 15px 35px;
  }

  .banner__about.banner {
    padding: 120px 0 435px;
  }

  .about__gallery__item {
    width: 660px;
    height: 715px;
  }

  .about__gallery__wrap {
    padding-bottom: 120px;
  }

  .about__page {
    margin-top: -360px;
  }

  .about__info {
    margin: 0 0 100px;
  }
}

@media only screen and (max-width: 991px) {
  body header .wrap__menu {
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
    background: #111113;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    height: 100vh;
    z-index: 9;
  }

  body header .wrap__menu .menu {
    width: 100%;
    padding: 150px 30px 40px;
  }

  body header .wrap__menu .menu__item {
    width: 100%;
    text-align: center;
  }

  body header .wrap__menu .menu__link {
    display: inline-block;
    width: auto;
  }

  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home:after {
    display: none;
  }

  .home__info:after {
    display: block;
  }

  .home__contacts {
    bottom: 25px;
  }

  .home__contacts__item__wrap-icon {
    margin-right: 15px;
    width: 15px;
  }

  .home__contacts__item__wrap-icon svg {
    width: 16px;
  }

  .banner__price {
    margin-top: 40px;
  }

  .footer__contacts {
    display: none;
  }

  .footer__contacts__item__wrap-icon {
    margin-right: 15px;
    width: 15px;
  }

  .footer__contacts__item__wrap-icon svg {
    width: 16px;
  }
}

@media only screen and (max-width: 767px) {
  body header .wrap__burger {
    width: 70px;
  }

  .single__info ul {
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 0;
    border-width: 1px 0 1px 0;
  }
}

@media only screen and (max-width: 399px) {
  .footer__info__inner {
    width: 100%;
    text-align: center;
  }

  .footer__menu.nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__menu__item {
    margin: 0 6px;
  }

  .contact__team__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}