* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
/*color*/
$white-color: #ffffff;
$dark-color: #111113;
$gray-color: rgb(249, 249, 249);
$gray-dark-color: rgb(105, 105, 105);
$gray-contact: #b9c2ca;
$red-color: rgb(231, 63, 75);
$purple-color: #9B51E0;

html { 
	body { 
		margin: 0; 
		padding: 0;
		width: 100%;  
		height: 100%;
		font-size: 16px;
		overflow-x: hidden; 
		font-family: 'Barlow Semi Condensed', sans-serif;
		background: $gray-color;
		color: $dark-color;
		.container { 
			max-width: 100%; 
			width: 100%;
			position: relative;
			padding-left: 15px;
			padding-right: 15px;	
			@media only screen and(min-width: 480px) {
				padding-left: 20px;
				padding-right: 20px;
			}	
			@media only screen and(min-width: 768px) {
				width: 770px;
			}	
			@media only screen and(min-width: 992px) {
				width: 990px;
			}	
			@media only screen and(min-width: 1200px) {
				width: 1160px;
			}	
			@media only screen and(min-width: 1440px) {
				width: 1265px;
			}	
			@media only screen and(min-width: 1680px) {
				width: 1450px;
			}	
			@media only screen and(min-width: 1681px) {
				width: 1660px;
			}	
		}
	}
}
body.open-menu,
body.body__home {
	overflow: hidden;
}



body p {
	font-size: 1.1em;
	margin: 0 0 20px;
	font-weight: 400;
	text-align: justify;
	line-height: 1.2;
	@media only screen and(min-width: 1440px) {
		font-size: 1.25em;
	}
	@media only screen and(min-width: 1680px) {
		font-size: 1.375em;
	}
}

 
  
img {max-width: 100%}

body h1,
body h2 {
	font-size: 2em;
	@media only screen and(min-width: 768px) {
		font-size: 2.4em;
	}
	@media only screen and(min-width: 992px) {
		font-size: 2.9em;
	}
	@media only screen and(min-width: 1680px) {
		font-size: 3.375em;
	}
}


body h1,
body h2,
body h3 {
	margin: 0;
}
body strong ,
body b {
	font-weight: 700;
}

body .row:before,
body .row:after {
	display: inline-block!important;
}
body .row {
	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.col-xs-12 ,
		.col-xs-6 {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
body a {
	cursor: pointer;
	transition: 0.5s ease;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.link__red {
	text-decoration: none;
	color: $red-color;
	&:hover,
	&:focus,
	&:active {
		color: $red-color;
		text-decoration: underline;
	}
}
.btn__red {
	color: $white-color;
	background: $red-color;
	display: block;
	padding: 19px;
	font-weight: bold;
	border: 0;
	text-transform: uppercase;
	font-size: 1.125em;
	width: 100%;
	transition: 0.3s ease;
	cursor: pointer;
	&:hover,
	&:focus,
	&:active {
		color: $white-color;
		background: #cb323d;
	}
	@media only screen and(min-width: 992px) {
		padding: 20px;
		font-size: 1.25em;
	}
	@media only screen and(min-width: 1680px) {
		padding: 25px 20px;
		font-size: 1.375em;
	}
	@media only screen and(min-width: 1681px) {
		padding: 28px 20px;
	}
}

.btn__anim {
	overflow: hidden;
	position: relative;
	display: inline-block;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(255,255,255,0.25);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transform: translate(-19%,-190%) rotate(-30deg);
		transform: translate(-19%,-190%) rotate(-30deg);
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	&:after {
		-webkit-transition-delay: 0.2s;
    	transition-delay: 0.2s;
	}
	&:hover {
		&:before ,
		&:after {
			-webkit-transform: translate(0,0);
    		transform: translate(0,0);
		}
	}
}
.bg__white {
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	background: $white-color;
	border-radius: 5px;
	padding: 30px 20px;
	margin-bottom: 25px;
	@media only screen and(min-width: 992px) {
		padding: 30px 25px;
	}
	@media only screen and(min-width: 1440px) {
		padding: 40px 33px;
		margin-bottom: 35px;
	}
	@media only screen and(min-width: 1680px) {
		padding: 45px 38px;
		margin-bottom: 43px;
	}
	@media only screen and(min-width: 1681px) {
		padding: 52px 45px;
		margin-bottom: 50px;
	}
}
.pages__subtitle {
	color: $dark-color;
	font-weight: bold;
	font-size: 1.6em;
	margin: 0 0 25px;
	@media only screen and(min-width: 1440px) {
		margin: 0 0 35px;
	}
	@media only screen and(min-width: 1680px) {
		font-size: 1.6875em;
		margin: 0 0 40px;
	}
}	
body {
	input[type="text"],
	input[type="email"],
	input[type="phone"],
	input[type="tel"],
	textarea {
		display: block;
		border: 1px solid rgb(227, 227, 227);
		border-radius: 5px;
		background: $gray-color;
		width: 100%;
		font-size: 1em;
		color: $dark-color;
		padding: 19px ;
		outline: none; 
		margin-bottom: 15px;
		font-size: 1.125em;
		&::-webkit-input-placeholder {
			color: $dark-color;
		}
		@media only screen and(min-width: 992px) {
			padding: 19px ;
			font-size: 1.25em;
		}
		@media only screen and(min-width: 1680px) {
			padding: 22px ;
			font-size: 1.375em;
			margin-bottom: 18px;
		}
		@media only screen and(min-width: 1681px) {
			padding: 25px ;
		}
		
	}	  
	textarea {
		resize: none;
		height: 150px;
	}
	input[type="submit"] {
		border-radius: 5px;
		outline: none; 
	}
}


/*header*/
body header {
	padding: 20px 0;
	top: 0;
	left: 0;
	width: 100%;
	background: $dark-color;
	z-index: 99;
	border-bottom: 1px solid rgb(46, 46, 51);
		@media only screen and(min-width: 768px) {
			padding: 30px 0;
		}		
		@media only screen and(min-width: 1440px) {
			padding: 34px 0;
		}	
		@media only screen and(min-width: 1681px) {
			padding: 40px 0;
		}	
	.header__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		flex-direction: row;
	}
	.header__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		@media only screen and(min-width: 768px) {
			width: 90px;
		}	
		@media only screen and(min-width: 992px) {
			width: 116px;
		}	
		img {
			width: 100%;
		}
		&__wrap {
			position: relative;
			z-index: 10;
		}
	}
	
	.wrap__burger {
		width: 90px;
		justify-content: flex-start;
		@media only screen and(min-width: 992px) {
			display: none;
		}	
		@media only screen and(max-width: 767px) {
			width: 70px;
		}	
	}
	.wrap__menu {
		display: flex;
		flex-grow: 2;
		@media only screen and(max-width: 991px) {
			width: 100vw;
			position: fixed;
			top: 0;
			left: -100vw;
			background: $dark-color;
			transition: 0.5s ease;
			height: 100vh;
			z-index: 9;
		}
		 .menu {
			
			@media only screen and(min-width: 992px) {
				padding-left: 60px;
			}		
			@media only screen and(min-width: 1440px) {
				padding-left: 70px;
			}	
			@media only screen and(min-width: 1681px) {
				padding-left: 85px;
			}	
			@media only screen and(max-width: 991px) {
				width: 100%;
				padding: 150px 30px 40px;
			}
			&__item {
				@media only screen and(min-width: 992px) {
					margin: 0 25px;
				}		
				@media only screen and(min-width: 1680px) {
					margin: 0 32px;
				}	
				&__current {
					.menu__link {
						&:before {
							width: 100%;
						}
					}
				}
				@media only screen and(max-width: 991px) {
					width: 100%;
					text-align: center;
				}
			}			  
			&__link {
				display: block;
				padding: 10px 0;
				font-size: 1.375em;
				font-weight: bold;
				transition: 0.3s ease;
				text-transform: uppercase;
				color: $white-color;
				background: transparent;
				position: relative;
				@media only screen and(min-width: 992px) {
					font-size: 1.25em;
				}			
				@media only screen and(min-width: 1680px) {
					font-size: 1.375em;
				}	
				@media only screen and(max-width: 991px) {
					display: inline-block;
					width: auto;
				}
				&:hover,
				&:focus {
					background: transparent;
					color: $white-color;
					&:before {
						width: 100%;
					}
				}
				&:before {
					display: block;
					position: absolute;
					content: "";
					left: 0;
					background: $red-color;
					height: 4px;
					transition: 0.3s ease;
					width: 0;
					bottom: -5px;
					@media only screen and(min-width: 992px) {
						bottom: -66px;
					}		
					@media only screen and(min-width: 1440px) {
						bottom: -70px;
					}		
					@media only screen and(min-width: 1681px) {
						bottom: -76px;
					}	
				}
			}
		}
	}
	
	&.active {
		.wrap__menu {
			left: 0;
		}	
	}
}
.language {
	width: 70px;
	position: relative;
	z-index: 10;
	@media only screen and(min-width: 768px) {
		width: 90px;
	}				
	@media only screen and(min-width: 1440px) {
		width: 100px;
	}				
	@media only screen and(min-width: 1680px) {
		width: 105px;
	}	
	@media only screen and(min-width: 1681px) {
		width: 120px;
	}	
	&.language__home {
		position: absolute;
		z-index: 999;
		top: 45px;
		right: 35px;
		@media only screen and(min-width: 480px) {
			right: 50px;
		}											
		@media only screen and(min-width: 1440px) {
			top: 95px;
			right: 90px;
		}				
		@media only screen and(min-width: 1680px) {
			top: 100px;
			right: 100px;
		}	
	}

	.nice-select {
		background: rgb(36, 36, 41);
		height: 100%;
		border-radius: 3px;
		color: $white-color;
		text-transform: uppercase;
		border: 0;
		font-size: 1.125em;
		font-weight: bold;
		padding: 12px 20px 12px 12px;
		width: 100%;
		line-height: 1;
		@media only screen and(min-width: 768px) {
			padding: 15px 25px 15px 15px;
		}				
		@media only screen and(min-width: 1440px) {
			padding: 17px 33px 17px 18px;
			font-size: 1.25em;
		}				
		@media only screen and(min-width: 1680px) {
			padding: 20px 38px 20px 21px;
			font-size: 1.375em;
		}	
		@media only screen and(min-width: 1681px) {
			padding: 24px 45px 24px 24px;
		}	
		&:hover {
			background: $gray-dark-color;
		}
		.list {
			width: 100%;
			background: rgb(36, 36, 41);
			li {
				background: rgb(36, 36, 41);
				&.selected {
					background: $gray-dark-color;
				}
				&:hover {
					background: $gray-dark-color;
				}
			}
		}
		&:after {
			margin: 0;
			right: 8px;
			width: 18px;
			height: 18px;
			background: url(../img/icons/iconfinder_down_308965.svg) no-repeat center;
			background-size: 13px;
			border: 0;
			top: 50%;
			transform-origin: inherit;				
			transform: translateY(-50%);
			@media only screen and(min-width: 768px) {
				background-size: 14px;
				right: 18px;
			}				
			@media only screen and(min-width: 1440px) {
				background-size: 16px;
				right: 22px;
			}				
			@media only screen and(min-width: 1680px) {
				background-size: 17px;
				right: 24px;
			}		
		}
		&.open {
			background: $gray-dark-color;
			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

.wrap__burger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 9999;
	height: 30px;
	width: 40px;
	overflow: hidden;
	cursor: pointer;
	&:hover,
	&:focus {
		.burger .burger__inner,
		.burger .burger__inner:before,
		.burger .burger__inner:after {
			background: $white-color;
		}
	}
}
.burger {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	padding: 0 5px;
	.burger__inner,
	.burger__inner:after {
		position: absolute;
		width: 30px;
		height: 3px;
		border-radius: 100px;
		background-color: $white-color;
		transition: 0.3s ease;
	}

	.burger__inner:before {
		width: 22px;
		position: absolute;
		height: 3px;
		border-radius: 100px;
		background-color: $white-color;
		transition: 0.3s ease;
		
	}
	&__inner {
		transition: background-color 0s linear .13s;
		&:before {
			display: block;
			content: "";
			top: 9px;
			transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
		}
		&:after {
			display: block;
			content: "";
			top: 18px;
			transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
		}
	}
	&:hover {
		.burger__inner 	{
			width: 20px;
		}
		.burger__inner:after {
			width: 26px;
		}
		.burger__inner:before {
			width: 30px;
		}
	}

}
header.active,
.home.active {
	.wrap__burger {
		&:before {
			opacity: 0;
		}
	}
	.burger {
		&:hover {
			.burger__inner,
			.burger__inner:before,
			.burger__inner:after {
				width: 30px;
			}
		}
		&__inner {
			transition-delay: .22s;
			background-color: transparent!important;
			width: 30px;
			&:before {
				width: 30px;
				height: 4px;
				top: 0;
				transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
				transform: translate3d(0,10px,0) rotate(45deg);
			}
			&:after {
				top: 0;
				height: 4px;
				transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
				transform: translate3d(0,10px,0) rotate(-45deg);
			}
		}
	}
}

/*home page*/

.home {
	height: 100vh;
	display: flex;
	position: relative;
	@media only screen and(max-width: 991px) {
		flex-direction: column;
	}
	&:after {
		width: 100%;
		content: "";
		display: block;
		bottom: 0;
		z-index: 99;
		left: 0;
		height: 9px;
		position: absolute;
		background: $red-color;
		@media only screen and(max-width: 991px) {
			display: none;
		}
	}
	&:before {
		width: 100%;
		height: 100%;
		content: "";
		display: block;
		top: 0;
		z-index: 3;
		left: 0;
		position: absolute;
		background: rgba($dark-color, 0.75);
		opacity: 0;
		transition: 0.4s ease;
		
	}
	&__logo {
		width: 75px;
		display: inline-block;
		@media only screen and(min-width: 992px) {
			width: 120px;
		}
	}
	
	&__info {
		width: 100%;
		height: 50vh;
		background: $dark-color;
		display: flex;
		position: relative;
		z-index: 5;
		min-height: 360px;
		@media only screen and(min-width: 992px) {
			width: 450px;
			height: 100vh;
		}
		@media only screen and(min-width: 1680px) {
			width: 520px;
		}
		@media only screen and(min-width: 1681px) {
			width: 595px;
		}
		&:after {
			width: 100%;
			content: "";
			display: none;
			bottom: -6px;
			z-index: 99;
			left: 0;
			height: 6px;
			position: absolute;
			background: $red-color;
			@media only screen and(max-width: 991px) {
				display: block;
			}
		}
		&__burger {
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 1px solid rgb(46, 46, 51);
			width: 60px;
			height: 50vh;
			z-index: 9;
			min-height: 360px;
			background: $dark-color;
			@media only screen and(min-width: 992px) {
				width: 82px;
				height: 100vh;
			}
			@media only screen and(min-width: 1680px) {
				width: 96px;
			}
			@media only screen and(min-width: 1681px) {
				width: 110px;
			}
		}
		&__inner {
			padding: 30px 20px;
			width: calc(100% - 60px);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
		
			@media only screen and(min-width: 992px) {
				padding: 60px 38px 60px 65px;
				width: calc(100% - 82px);
			}
			@media only screen and(min-width: 1680px) {
				padding: 70px 44px 70px 78px;
				width: calc(100% - 96px);
			}
			@media only screen and(min-width: 1681px) {
				padding: 80px 50px 80px 90px;
				width: calc(100% - 110px);
			}
		}
		&__header {
			z-index: 9;
			width: 130px;
		}
		&__body {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 20px;
			padding-right: 15px;
			@media only screen and(min-width: 992px) {
				left: 65px;
			}
			@media only screen and(min-width: 1680px) {
				left: 78px;
			}
			@media only screen and(min-width: 1681px) {
				left: 90px;
			}
		}
	
		
	}
	&__title {
		font-size: 1.8em;
		font-weight: bold;
		line-height: 0.833;
		color: $white-color;
		margin: 0 0 30px;
		@media only screen and(min-width: 480px) {
			font-size: 2em;
			margin: 0 0 35px;
		}
		@media only screen and(min-width: 992px) {
			width: 140%;
			font-size: 2.6em;
			margin: 0 0 45px;
		}
		@media only screen and(min-width: 1680px) {
			font-size: 3.375em;
		}
	}
	&__btn {
		background: transparent;
		border: 2px solid $white-color;	
		border-radius: 3px;
		padding: 16px 20px;
		text-transform: uppercase;
		color: white;
		font-size: 0.9em;
		text-transform: uppercase;
		font-family: "Archivo Black";
		@media only screen and(min-width: 992px) {
			font-size: 1em;
			padding: 18px 30px;
		}
		@media only screen and(min-width: 1680px) {
			font-size: 1.125em;
			padding: 20px 35px;
		}
		@media only screen and(min-width: 1681px) {
			padding: 22px 40px;
		}
		&:hover,
		&:focus {
			color: $white-color;
		}
	}
	&.active {
		&:before {
			opacity: 1;
		}
		.home__info {
			z-index: 99;
		}
		.home__menu__wrap {
			left: 0;
		}
	}
	&__carousel {
		width: 100%;
		height: 50vh;
		position: relative;
		@media only screen and(min-width: 992px) {
			width: calc(100% - 450px);
			height: 100vh;
			position: static;
		}
		@media only screen and(min-width: 1680px) {
			width: calc(100% - 520px);
		}
		@media only screen and(min-width: 1681px) {
			width: calc(100% - 595px);
		}
		&__item {
			height: 50vh;
			display: block;
			@media only screen and(min-width: 992px) {
				height: 100vh;
			}
		}
	}
	&__menu {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&__wrap {
			width: 100vw;
			position: fixed;
			top: 0;
			left: -100vw;
			background: $dark-color;
			transition: 0.5s ease;
			height: 50vh;
			min-height: 360px;
			z-index: 9;
			@media only screen and(min-width: 992px) {
				height: 100vh;
				left: -50vw;
				width: 50vw;
			}
		}
		&__item {
			display: block;
			width: 100%;
		}
		&__link {
			font-size: 1.35em;
			font-weight: bold;
			color: $white-color;
			padding: 12px 0;
			display: block;
			text-transform: uppercase;
			line-height: 1;
			transition: 0.3s ease;
			&:hover,
			&:focus {
				color: $red-color;
			}
			@media only screen and(min-width: 992px) {
				padding: 17px 0;
				font-size: 2.25em;
			}
			@media only screen and(min-width: 1680px) {
				padding: 20px 0;
			}
			@media only screen and(min-width: 1681px) {
				padding: 23px 0;
			}
		}
	}
   

	&__contacts {
		position: absolute;
		bottom: 95px;
		padding-right: 15px;
		@media only screen and(max-width: 991px) {
			bottom: 25px;
		}
		&__item {
			width: 100%;
			font-size: 1.1em;
			color: rgb(205, 205, 205);
			line-height: 18px;
			margin-bottom: 7px;
			@media only screen and(min-width: 992px) {
				margin-bottom: 12px;
				font-size: 1.3125em;
				line-height: 28px;
			}
			&:last-child {
				margin: 0;
			}
			&__wrap-icon {
				width: 22px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
				@media only screen and(max-width: 991px) {
					margin-right: 15px;
					width: 15px;
				}
				svg {
					fill: $white-color;
					width: 20px;
					@media only screen and(max-width: 991px) {
						width: 16px;
					}
				}
			}
			a {
				padding-left: 5px;
				color: inherit;
				&:hover,
				&:focus {
					color: $white-color;
				}
			}
		}
	}
	.owl-dots,
	.owl-nav,
	&__contacts,
	&__menu {
		left: 80px;
		@media only screen and(min-width: 992px) {
			left: 150px;
		}
		@media only screen and(min-width: 1680px) {
			left: 174px;
		}
		@media only screen and(min-width: 1681px) {
			left: 200px;
		}

	}
	

	.owl-prev ,
	.owl-next {
		font-size: 1.05em;
		font-weight: bold;
		color: $white-color;
		background-size: 100%;
		cursor: pointer; 
		position: absolute;
		z-index: 10;
		@media only screen and(min-width: 480px) {
			font-size: 1.1em;
		}
		@media only screen and(min-width: 992px) {
			font-size: 1.125em;
		}
		@media only screen and(min-width: 1440px) {
			font-size: 1.2em;
		}
		@media only screen and(min-width: 1681px) {
			font-size: 1.25em;
		}
	}
	.owl-prev {
		left: 0;
	}
	.owl-next  {
		right: 0;
	}
	.owl-nav {
		position: relative;
		height: 28px;
		position: absolute;
		width: 200px;
		z-index: 9;
		top: -60px;
		@media only screen and(min-width: 480px) {
			width: 240px;
		}
		@media only screen and(min-width: 992px) {
			top: auto;
			bottom: 85px;
		}
		@media only screen and(min-width: 1440px) {
			bottom: 85px;
		}
		@media only screen and(min-width: 1680px) {
			width: 260px;
			bottom: 88px;
		}
		@media only screen and(min-width: 1681px) {
			width: 280px;
		}
	}
	.owl-dots {
		width: 120px;
		height: 25px;
		z-index: 10;

		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		margin-left: 55px;
		top: -61px;
		@media only screen and(min-width: 480px) {
			margin-left: 75px;
			top: -58px;
		}
		@media only screen and(min-width: 992px) {
			top: auto;
			bottom: 85px;
		}
		@media only screen and(min-width: 1680px) {
			margin-left: 85px;
		}
		@media only screen and(min-width: 1681px) {
			margin-left: 100px;
		}
		.owl-dot {
			display: inline-block;
			width: 8px;
			height: 8px;
			background: $white-color;
			transition: 0.3s ease;
			margin: 0 4px;
			cursor: pointer;
			border-radius: 50%;
			&.active {
				border: 2px solid $white-color;
				background: transparent;
				width: 35px;
				border-radius: 100px;
			}
		}
	}
}
.owl-item {
	display: inline-block!important;
}

/*pages*/
/*banner*/

.banner {
	position: relative;
	background-color: $dark-color;
	border-bottom: 6px solid $red-color;
	@media only screen and(min-width: 991px) {
		border-bottom: 7px solid $red-color;
	}
	@media only screen and(min-width: 1680px) {
		border-bottom: 8px solid $red-color;
	}
	@media only screen and(min-width: 1681px) {
		border-bottom: 9px solid $red-color;
	}
	&__title {
		color: $white-color;
		font-weight: bold;
		margin: 0 0 35px;
		@media only screen and(min-width: 992px) {
			margin: 0 0 42px;
		}
		@media only screen and(min-width: 1680px) {
			margin: 0 0 47px;
		}
		@media only screen and(min-width: 1681px) {
			margin: 0 0 55px;
		}
	}
	&__text {
		padding: 40px 0 45px;
		@media only screen and(min-width: 992px) {
			padding: 50px 0 55px;
		}
		@media only screen and(min-width: 1680px) {
			padding: 55px 0 65px;
		}
		@media only screen and(min-width: 1681px) {
			padding: 65px 0 75px;
		}
		&__inner {
			@media only screen and(min-width: 992px) {
				column-count: 2;
				column-gap: 65px;
			}
			@media only screen and(min-width: 1680px) {
				column-gap: 75px;
			}
			@media only screen and(min-width: 1681px) {
				column-gap: 90px;
			}
			p {
				color: $white-color;
				text-align: justify;
			}
		}
	}
	&__single {
		&__inner {
			min-height: 450px;
			padding: 20px 0 110px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			@media only screen and(min-width: 992px) {
				flex-direction: row;
				justify-content: space-between;
			}
		}
		&__title {
			font-size: 2em;
			font-weight: bold;
			margin: 0;
			color: $white-color;
			text-align: center;
			@media only screen and(min-width: 992px) {
				font-size: 2.4em;
				text-align: left;
			}
			@media only screen and(min-width: 1440px) {
				font-size: 2.7em;
			}
			@media only screen and(min-width: 1681px) {
				font-size: 2.8125em;
			}
		}
	}	  
	&__price {
		background: $red-color;
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		@media only screen and(max-width: 991px) {
			margin-top: 40px;
		}
		&__inner {
			padding: 11px 14px;
			color: $white-color;
			@media only screen and(min-width: 992px) {
				padding: 14px 25px;
			}
			@media only screen and(min-width: 1440px) {
				padding: 16px 28px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 18px 32px;
			}
			&:first-child {
				border-right: 1px solid rgb(188, 44, 55);
			}
			&__subtitle {
				font-size: 0.85em;
				display: block;
				white-space: nowrap;
				@media only screen and(min-width: 480px) {
					font-size: 1em;
				}
				@media only screen and(min-width: 992px) {
					font-size: 1.1em;
				}
				@media only screen and(min-width: 1680px) {
					font-size: 1.125em;
				}
			}
			&__num {
				font-size: 1.6em;
				font-weight: bold;
				line-height: 1;
				@media only screen and(min-width: 480px) {
					font-size: 1.7em;
				}
				@media only screen and(min-width: 992px) {
					font-size: 2em;
				}
				@media only screen and(min-width: 1680px) {
					font-size: 2.25em;
				}
			}
		}
	}
}


/*paged__inner*/
.paged__inner {

}

.services {
	padding: 35px 0 30px;
	@media only screen and(min-width: 768px) {
		padding: 40px 0 55px;
	}
	@media only screen and(min-width: 1440px) {
		padding: 60px 0 68px;
	}
	@media only screen and(min-width: 1680px) {
		padding: 70px 0 75px;
	}
	@media only screen and(min-width: 1681px) {
		padding: 80px 0 90px;
	}
	&__item {
		border-radius: 5px;
		overflow: hidden;
		background: $white-color;
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
		margin: 0 0 20px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media only screen and(min-width: 768px) {
			margin: 0 0 25px;
		}
		@media only screen and(min-width: 992px) {
			flex-wrap: nowrap;
		}
		@media only screen and(min-width: 1440px) {
			margin: 0 0 30px;
			min-height: 320px;
		}
		@media only screen and(min-width: 1680px) {
			margin: 0 0 35px;
			min-height: 340px;
		}
		@media only screen and(min-width: 1681px) {
			min-height: 375px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
		&__image {
			width: 100%;
			height: 200px;
			border-radius: 5px;
			@media only screen and(min-width: 480px) {
				height: 280px;
			}
			@media only screen and(min-width: 992px) {
				width: 40%;
				height: auto;
				border-radius: 0;
			}
		}
		&__inner {
			width: 100%;
			padding: 20px 15px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media only screen and(min-width: 480px) {
				padding: 30px 24px 24px;
			}
			@media only screen and(min-width: 992px) {
				width: 60%;
				padding: 34px 38px 26px 30px;
			}
			@media only screen and(min-width: 1440px) {
				padding: 34px 38px 26px 30px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 40px 42px 30px 35px;
			}
			@media only screen and(min-width: 1681px) {
				padding: 45px 50px 35px 40px;
			}
		}
		&__title {
			font-size: 1.6em;
			position: relative;
			font-weight: bold;
			color: $dark-color;
			padding-bottom: 18px;
			margin:0; 
			@media only screen and(min-width: 992px) {
				padding-bottom: 20px;
				font-size: 1.75em;
			}
			@media only screen and(min-width: 1680px) {
				padding-bottom: 25px;
				font-size: 1.875em;
			}
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				background: $red-color;
				height: 4px;
				width: 65px;
				content: "";
				@media only screen and(min-width: 768px) {
					height: 5px;
					width: 75px;
				}
			}
		}
		&__content {
			margin: 25px 0;
			@media only screen and(min-width: 768px) {
				margin: 30px 0;
			}
		}
		&__btn {
			border-radius: 5px;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			background: $gray-color;
			align-items: center;
		
			&:hover {
				background: #eeeeee;
			}
			&__in {
				width: 100%;
				padding: 10px 17px;
				text-align: center;
				font-size: 1em;
				text-transform: uppercase;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $dark-color;
				position: relative;
				z-index: 5;
				@media only screen and(min-width: 480px) {
					width: calc(100% - 90px);
				}
				@media only screen and(min-width: 992px) {
					width: calc(100% - 110px);
					font-size: 1.25em;
				}
				@media only screen and(min-width: 1680px) {
					width: calc(100% - 128px);
				}
				img {
					width: 15px;
					margin-left: 10px;
					@media only screen and(min-width: 480px) {
						width: 16px;
						margin-left: 14px;
					}
				}
			}
		}
		&__price {
			background: $red-color;
			border-radius: 5px;
			position: relative;
			z-index: 9;
			padding: 6px 8px;
			color: $white-color;
			@media only screen and(min-width: 480px) {
				padding: 10px 12px;
				width: 90px;
			}
			@media only screen and(min-width: 992px) {
				padding: 10px 12px;
				width: 110px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 15px;
				width: 128px;
			}
			&__subtitle {
				font-size: 0.9em;
				display: block;
				white-space: nowrap;
				@media only screen and(min-width: 992px) {
					font-size: 1em;
				}
				@media only screen and(min-width: 1680px) {
					font-size: 1.125em;
				}
			}
		}
		&__num {
			font-size: 1.6em;
			font-weight: bold;
			line-height: 1;
			@media only screen and(min-width: 480px) {
				font-size: 1.8em;
			}
			@media only screen and(min-width: 1680px) {
				font-size: 2.25em;
			}
		}
	}
}




/*footer*/
footer {
	background: $white-color;
	padding: 25px 0;
	@media only screen and(min-width: 480px) {
		padding: 25px 15px;
	}
	@media only screen and(min-width: 768px) {
		padding: 35px 0;
	}
	@media only screen and(min-width: 1680px) {
		padding: 45px 0;
	}
}
.footer {
	&__logo {
		width: 80px;
		margin: 0 auto 20px;
		display: block;
		@media only screen and(min-width: 400px) {
			width: 70px;
			margin: 0 20px 0 0;
		}
		@media only screen and(min-width: 480px) {
			width: 80px;
		}
		@media only screen and(min-width: 768px) {
			width: 120px;
			margin: 0 45px 0 0;
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		@media only screen and(min-width: 400px) {
			flex-direction: row;
			width: auto;
		}
		&__inner {
			@media only screen and(max-width: 399px) {
				width: 100%;
				text-align: center;
			}
		}
	}
	&__menu {
		&.nav {
			margin-bottom: 8px;
			@media only screen and(min-width: 480px) {
				margin-bottom: 15px;
			}
			@media only screen and(min-width: 768px) {
				margin-bottom: 20px;
			}
			@media only screen and(max-width: 399px) {
				justify-content: center;
			}
		}
		&__item {
			margin-right: 12px;
			&:last-child {
				margin: 0;
			}
			@media only screen and(min-width: 480px) {
				margin-right: 16px;
			}
			@media only screen and(min-width: 768px) {
				margin-right: 22px;
			}
			@media only screen and(max-width: 399px) {
				margin: 0 6px;
			}
		}
		&__link {
			text-transform: uppercase;
			color: $dark-color;
			font-weight: bold;
			font-size: 1em;
			&:hover,
			&:focus {
				color: $red-color;
			}
			@media only screen and(min-width: 480px) {
				font-size: 1.05em;
			}
			@media only screen and(min-width: 768px) {
				font-size: 1.125em;
			}
		}
	}
	&__copy {
		font-size: 1em;
		color: $gray-dark-color;
		@media only screen and(min-width: 480px) {
			font-size: 1.05em;
		}
		@media only screen and(min-width: 768px) {
			font-size: 1.125em;
		}
	}
	&__contacts {
		@media only screen and(max-width: 991px) {
			display: none;
		}
		&__item {
			width: 100%;
			font-size: 1.1em;
			color: rgb(97, 112, 124);
			line-height: 18px;
			margin-bottom: 5px;
			@media only screen and(min-width: 1440px) {
				font-size: 1.25em;
				line-height: 25px;
			}
			@media only screen and(min-width: 1680px) {
				margin-bottom: 7px;
				font-size: 1.3125em;
				line-height: 28px;
			}
			&:last-child {
				margin: 0;
			}
			&__wrap-icon {
				width: 20px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 18px;
				@media only screen and(max-width: 991px) {
					margin-right: 15px;
					width: 15px;
				}
				svg {
					fill: $gray-contact;
					width: 20px;
					@media only screen and(max-width: 991px) {
						width: 16px;
					}
				}
			}
			a {
				padding-left: 5px;
				color: inherit;
				&:hover,
				&:focus {
					color: $red-color;
				}
			}
		}
	}
}


/*single*/
.single {
	padding-bottom: 35px;
	@media only screen and(min-width: 1440px) {
		padding-bottom: 50px;
	}
	@media only screen and(min-width: 1680px) {
		padding-bottom: 70px;
	}
	.container {
		margin-top: -100px;
	}
	&__info {
		&__inner {
			padding: 10px 0 30px;
			@media only screen and(min-width: 1440px) {
				padding: 20px 0 40px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 25px 0 50px;
			}
		}
		&__subtitle {
			font-size: 1.125em;
			font-weight: bold;
			margin: 0 0 22px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			border-radius: 5px;
			border: 1px solid rgb(228, 228, 228);
			@media only screen and(max-width: 767px) {
				width: calc(100% + 40px);
				margin-left: -20px;
				border-radius: 0;
				border-width: 1px 0 1px 0;
			}
			li {
				font-size: 1.125em;
				padding: 14px 20px;
				&:nth-child(2n) {
					background: $gray-color;
				}
				@media only screen and(min-width: 1440px) {
					padding: 17px 30px;
				}
			}		
		}
		p {
			font-size: 1.125em;
			@media only screen and(min-width: 1440px) {
				font-size: 1.25em;
			}
		}
	}
}

/*gallery*/
.gallery {
	&__inner {
		overflow: hidden;
		display: grid;
		grid-gap: 10px;
		grid-auto-rows: 20%;
		grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
		@media only screen and(min-width: 480px) {
			grid-gap: 12px;
			grid-auto-rows: 22%;
			margin-bottom: -4%;
			grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
		}
		@media only screen and(min-width: 768px) {
			margin-bottom: -8%;
		}
		@media only screen and(min-width: 992px) {
			grid-gap: 10px;
			margin-bottom: 0;
			grid-auto-rows: 130px;
			grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
		}
		@media only screen and(min-width: 1440px) {
			grid-gap: 16px;
			grid-auto-rows: 165px;
			grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
		}
		@media only screen and(min-width: 1680px) {
			grid-gap: 18px;
			grid-auto-rows: 185px;
			grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
		}
		@media only screen and(min-width: 1681px) {
			grid-gap: 22px;
			grid-auto-rows: 220px;
			grid-template-columns: repeat(auto-fit,minmax(365px,1fr));
		}
	}
	&__item {
		overflow: hidden;
		display: block;
		position: relative;
		&:first-child {
		
			@media only screen and(min-width: 480px) {
				grid-column-end: span 2;
				grid-row-end: span 2;
			}
		}
		img {
			object-fit: cover;
		}
		&__info {
			position: absolute;
			background: rgba($red-color, 0.8);
			height: 100%;
			width: 100%;
			display: none;
			align-items: center;
			justify-content: center;
			left: 0;
			top: -100%;
			font-size: 1.375em;
			font-weight: bold;
			padding: 20px 50px;
			color: $white-color;
			text-align: center;
			opacity: 0;
			transition: 0.3s ease;
			@media only screen and(min-width: 992px) {
				padding: 10px;
				display: flex;
				font-size: 1em;
			}
			@media only screen and(min-width: 1440px) {
				padding: 15px 30px;
				font-size: 1.2em;
			}
			@media only screen and(min-width: 1680px) {
				padding: 15px 35px;
				font-size: 1.25em;
			}
			@media only screen and(min-width: 1681px) {
				padding: 20px 50px;
				font-size: 1.375em;
			}
		}
		&:hover {
			.gallery__item__info {
				opacity: 1;
				top: 0;
			}
		}
	}
}
/*contact__form */
.contact__form {
	&__inner {
		display: grid;
		grid-column-gap: 15px;
		grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
		@media only screen and(min-width: 992px) {
			grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
		}
		@media only screen and(min-width: 1680px) {
			grid-column-gap: 18px;
		}
	}
}

.form__checbox {
	margin: 9px 0 25px;
	cursor: pointer;
	@media only screen and(min-width: 1440px) {
		margin: 17px 0 35px;
	}
	input {
		display: none;
	}
	input[type="checkbox"]:checked + .form__checbox__inner {
		&:before {
			background-image: url(../img/icons/iconfinder_check_1608619.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 10px;
			@media only screen and(min-width: 992px) {
				background-size: 13px;
			}
		}
	}
	&__inner {
		position: relative;
		padding-left: 30px;
		display: block;
		font-size: 0.9em;
		@media only screen and(min-width: 992px) {
			font-size: 1em;
			padding-left: 36px;
		}
		@media only screen and(min-width: 1440px) {
			font-size: 1.125em;
		}
		&:before {
			display: block;
			position: absolute;
			border-radius: 3px;
			background-color: $gray-color;
			border: 1px solid rgb(211, 211, 211);
			width: 15px;
			height: 15px;
			content: "";
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			@media only screen and(min-width: 992px) {
				width: 20px;
				height: 20px;
			}
		} 
		.link__red {
			text-decoration: underline;
		}
	}
}
/*contact*/
#map {
	height: 430px;
	@media only screen and(min-width: 1440px) {
		height: 470px;
	}
	@media only screen and(min-width: 1440px) {
		height: 620px;
	}
}
.contact  {
	&__page {
		padding-bottom: 35px;
		@media only screen and(min-width: 1440px) {
			padding-bottom: 50px;
		}
		@media only screen and(min-width: 1680px) {
			padding-bottom: 70px;
		}
		.container {
			margin-top: -160px;
		}
	}
	&__row {
		> div {
			display: flex;
		}
	}
	&__information {
		width: 100%;
		&__title.pages__subtitle {
			max-width: 200px;
			position: relative;
			margin-bottom: 75px;
			@media only screen and(min-width: 1440px) {
				margin-bottom: 57px;
			}
			@media only screen and(min-width: 1680px) {
				margin-bottom: 65px;
				font-size: 1.8em;
			}
			@media only screen and(min-width: 1681px) {
				margin-bottom: 75px;
				font-size: 1.875em;
			}
			&:before {
				display: block;
				content: "";
				position: absolute;
				background: $red-color;
				border-radius: 100px;
				height: 6px;
				width: 60px;
				left: 0;
				bottom: -32px;
			}
		}
		&__list {
			.footer__contacts__item {
				margin-bottom: 12px;
				@media only screen and(min-width: 1440px) {
					margin-bottom: 18px;
				}
			}
		}
	}
	&__team {
		width: 100%;
		&.bg__white {
			padding: 0;
		}
		&__title.pages__subtitle {
			border-bottom: 1px solid rgb(234, 234, 234);
			padding: 30px 20px;
			margin: 0;
			@media only screen and(min-width: 992px) {
				padding: 30px 25px;
			}
			@media only screen and(min-width: 1440px) {
				padding: 40px 30px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 45px 38px;
				font-size: 1.8em;
			}
			@media only screen and(min-width: 1681px) {
				font-size: 1.875em;
				padding: 52px 45px;
			}
		}
		&__inner {
			padding: 30px 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media only screen and(min-width: 768px) {
				flex-direction: row;
			}
			@media only screen and(min-width: 992px) {
				padding: 30px 25px;
			}
			@media only screen and(min-width: 1440px) {
				padding: 40px 30px;
			}
			@media only screen and(min-width: 1680px) {
				padding: 45px 38px;
			}
			@media only screen and(min-width: 1681px) {
				padding: 52px 45px;
			}
		}
		&__item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			@media only screen and(max-width: 399px) {
				flex-wrap: wrap;
			}
			@media only screen and(min-width: 768px) {
				width: 47%;
				margin-bottom: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&__title {
				font-size: 1.4em;
				font-weight: bold;
				margin: 0 0 5px;
				color: $red-color;
				@media only screen and(min-width: 1680px) {
					font-size: 1.6em;
				}
				@media only screen and(min-width: 1681px) {
					font-size: 1.6875em;
				}
			}
			&__contacts {
				margin: 0;
				a {
					display: block;
					color: $dark-color;
					&:hover,
					&:focus {
						color: $red-color;
					}
				}
			} 
		}
		&__image {
			border-radius: 5px;
			width: 240px;
			height: 300px;
			margin: 0 auto 15px;
			@media only screen and(min-width: 400px) {
				width: 140px;
				height: 175px;
				margin: 0;
			}
			@media only screen and(min-width: 768px) {
				width: 145px;
				height: 180px;
			}
			@media only screen and(min-width: 992px) {
				width: 145px;
				height: 180px;
			}
			@media only screen and(min-width: 1680px) {
				width: 165px;
				height: 200px;
			}
			@media only screen and(min-width: 1681px) {
				width: 175px;
				height: 215px;
			}
		}
		&__info {
			width: 100%;
			padding: 5px;
			max-width: 240px;
			margin: 0 auto;
			@media only screen and(min-width: 400px) {
				width: calc(100% - 145px);
				padding: 10px 10px 5px 15px;
				margin: 0;
				max-width: 100%;
			}
			@media only screen and(min-width: 768px) {
				width: calc(100% - 145px);
				padding: 12px 12px 12px 20px;
			}
			@media only screen and(min-width:992px) {
				width: calc(100% - 145px);
				padding: 12px 12px 12px 20px;
			}
			@media only screen and(min-width: 1680px) {
				width: calc(100% - 165px);
				padding: 14px 14px 14px 30px;
			}
			@media only screen and(min-width: 1681px) {
				width: calc(100% - 175px);
				padding: 16px 15px 15px 35px;
			}
		}
	}
}



/*about*/
.banner__about.banner {
	padding: 35px 0 180px;
	@media only screen and(min-width:480px) {
		padding: 50px 0 210px;
	}
	@media only screen and(min-width:992px) {
		padding: 70px 0 250px;
	}
	@media only screen and(min-width:1440px) {
		padding: 90px 0 325px;
	}
	@media only screen and(min-width: 1680px) {
		padding: 100px 0 370px;
	}
	@media only screen and(min-width: 1681px) {
		padding: 120px 0 435px;
	}
}
.about {
	&__gallery {
		&__item {
			display: block;
			width: 260px;
			height: 280px;
			border-radius: 5px;
			@media only screen and(min-width:480px) {
				width: 310px;
				height: 340px;
			}
			@media only screen and(min-width:992px) {
				width: 400px;
				height: 430px;
			}
			@media only screen and(min-width:1440px) {
				width: 495px;
				height: 536px;
			}
			@media only screen and(min-width: 1680px) {
				width: 560px;
				height: 610px;
			}
			@media only screen and(min-width: 1681px) {
				width: 660px;
				height: 715px;
			}
		}
		&__wrap {
			padding-bottom: 70px;
			position: relative;
		
			@media only screen and(min-width:992px) {
				padding-bottom: 80px;
			}
			@media only screen and(min-width:1440px) {
				padding-bottom: 90px;
			}
			@media only screen and(min-width: 1680px) {
				padding-bottom: 110px;
			}
			@media only screen and(min-width: 1681px) {
				padding-bottom: 120px;
			}
		}
		.owl-nav {
			position: absolute;
			bottom: 24px;
			width: 150px;
			height: 25px;
			left: 0;
			@media only screen and(min-width:992px) {
				bottom: 27px;
			}
			@media only screen and(min-width:1440px) {
				bottom: 35px;
			}
			@media only screen and(min-width: 1680px) {
				bottom: 47px;
			}
		}
		.owl-prev ,
		.owl-next {
	
			cursor: pointer; 
			position: absolute;
			z-index: 10;
			background: url(../img/icons/iconfinder_arrow-right_227601.svg) no-repeat center;
			background-size: 18px;
			font-size: 0;
			width: 25px;
			height: 25px;
			top: 0;
		}
		.owl-prev {
			left: 0;
			transform: rotate(180deg);
		}
		.owl-next  {
			right: 0;
		}
	}
	&__page {
		margin-top: -140px;
		overflow: hidden;
		@media only screen and(min-width:480px) {
			margin-top: -170px;
		}
		@media only screen and(min-width:992px) {
			margin-top: -215px;
		}
		@media only screen and(min-width:1440px) {
			margin-top: -270px;
		}
		@media only screen and(min-width: 1680px) {
			margin-top: -305px;
		}
		@media only screen and(min-width: 1681px) {
			margin-top: -360px;
		}
	}
	&__info {
		margin: 0 0 35px;
		@media only screen and(min-width:768px) {
			margin: 0 0 45px;
		}
		@media only screen and(min-width:1440px) {
			margin: 0 0 60px;
		}
		@media only screen and(min-width: 1680px) {
			margin: 0 0 80px;
		}
		@media only screen and(min-width: 1681px) {
			margin: 0 0 100px;
		}
	}
	&__counter {
		position: absolute;
		left: 0;
		width: 150px;
		bottom: 24px;
		font-size: 1.125em;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media only screen and(min-width:992px) {
			bottom: 27px;
		}
		@media only screen and(min-width:1440px) {
			bottom: 35px;
		}
		@media only screen and(min-width: 1680px) {
			bottom: 47px;
		}
	}
}
